/* common font */
body {
    font-family: 'Manrope', sans-serif;
    background-color: #151515;
}

header {
    height: 481px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Berkshire Swash', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 94px;
    text-align: center;
    text-transform: capitalize;
    color: #FF5E19;
}

header p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.single-player {
    background: #0D0D0D;
    border: 1px solid #434343;
}

/* player section start */
.player-left {
    margin: 74px 0 74px 0;
}

.player-name {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.player-stat {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #B3B3B3;
}

.player-btn {
    width: 221px;
    height: 42px;
    left: 21px;
    top: 308px;
    background: #015196;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border: none;
    text-align: center;
    color: #FFFFFF;
}


.player-btn[disabled] {
    background-color: #cccccc;
    color: #666666;
}

/* 
.player-btn:focus {
    background: #A2A9AF;
} */

/* player section end */
.palyer-right {
    margin-top: 98px;
}

.cost-btn {
    width: 221px;
    height: 42px;
    left: 21px;
    top: 308px;
    background: #015196;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border: none;
    text-align: center;
    color: #FFFFFF;
}

.cost-btn:hover {
    background: #3495e9;
    color: #210505;
}

.selected-inn {
    background: #0D0D0D;
    margin-bottom: 25px;
}

.selected-inn h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.selected {
    margin: 50px 0 50px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #dad2d2;
}

.selected li {
    margin-top: 20px;
}

.player-input {
    width: 50%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: black;
    border: 1px solid white;
}

footer {
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    height: 2px;
    left: 0px;
    top: 2257px;
    background: #fbf8f8;
}

footer p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}